*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(248, 248, 248) !important;
	font-family: Proxima-Nova;
}

.wrapper{
	margin: 0 auto;
	width: 1350px;
	
}

.header {
	position: relative;
	height: 650px;
	width: 100%;
	background-repeat: no-repeat;
	z-index:0;
}



#firstBox{
	position: absolute;
	height: 300px;
	width: 500px;
	z-index:-50;
	}

#textBoxIndex{
	position: absolute;
	height: 300px;
	width: 500px;
	z-index:50;
	background-color: white;
	top: 340px;
	
}

#textBoxIndex p{
	font-size: 1.429em;
	line-height: 30px;
	width: 350px;
	margin-bottom: 30px;
	color: #b7bbb7;
	font-weight: 400;
	font-family: Proxima-Nova;
}


.secondBoxImg{
	position: absolute;
	height: 640px;
	width: 900px;
	z-index:-50;
	margin-top:0px;
	left: 500px;
	
}

.nav {
	height: 100px;
	width: 100%;
	background-color:transparent;
	line-height: 100px;
	float: left;
	top: 0px;
	transition: .5s;
	margin-left: 830px;
}

.nav ul li{
	display:inline-block;
	float:left;
	font-size:.95em;
	font-weight:600;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: .5s;
}



ul{
 margin-left: 120px;	
}

ul li a{
	text-decoration:none;
	display: block;
	color: #f8670c;
	text-transform: capitalize;
}

ul li a:hover{
	color: #1d1d1b;
}